/* bodyのデフォルトを定義 */
body {
  text-rendering: optimizeSpeed; //webフォントレンダリングの際に速さを重視する
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",Meiryo,sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

/* marginとpaddingを削除 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* pが連続したら段落を空ける */
p+p {
  margin-top: 1em;
}

/* list-styleを削除 */
ul,
ol {
  list-style: none;
}

/* imgとpictureタグの設定 */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 各ブラウザやOSの設定で動きの制限をしている場合、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* aタグのテキストカラーを親要素から継承と、ホバー時のアニメーション */
a {
  color: inherit;
  text-decoration: none!important;
  @media screen and (min-width: 768px) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &:hover img {
    @media screen and (min-width: 768px) {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}



/* =========================
   Layout
========================= */

header {
    background: gray;
    opacity: .7;
    padding: 10px;
  h1 {
      color: #fff;
      a {
          text-decoration: none;
      }
  }
}

footer {
  .footerin {
      padding: 48px 0 8px;
      @media (min-width: 768px) {
          padding: 96px 0 16px;
      }
    .text {
        line-height: 1;
        letter-spacing: 0px;
        text-align: center;
    }
  }
}

.container {
}

/* =========================
   Project : Portfolio
========================= */

.portfolio {
}

/* ===== Profile ===== */

.profile {
  .details {
      margin-top: 24px;
      @media (min-width: 768px) {
          display: flex;
          justify-content: center;
          gap: 48px;
          margin-top: 48px;
      }
    .personal {
        width: 400px;
      .face {
          position: relative;

          img {
              width: 100%;
              transition: opacity 0.3s ease;
          }
    
          .main {
            display: block;
            width: 100%;
          }

          .sub {
            display: none;
            width: 100%;
          }

          &:hover {
            .main {
              display: none;
            }
            .sub {
              display: block;
            }
          }
        }

      h2 {
          font-size: 24px;
          font-weight: 600;
          line-height: 1;
          letter-spacing: 0px;
          text-align: center;
          margin-top: 24px;
          @media (min-width: 768px) {
              font-size: 34px;
          }
      }

      .name {
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0px;
          text-align: center;
          margin-top: 8px;
          @media (min-width: 768px) {
              font-size: 18px;
          }
      }

      .appeal {
          line-height: 1.6;
          letter-spacing: 0px;
          margin-top: 16px;
          @media (min-width: 768px) {
              margin-top: 32px;
          }
      }
    }

    .data {
        margin-top: 32px;
        @media (min-width: 768px) {
            flex: 1;
            margin-top: initial;
        }
      .skill {
        h3 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 0px;
            text-align: center;
            @media (min-width: 768px) {
                font-size: 30px;
                text-align: left;
            }
        }
          img {
              width: 100%;
              margin-top: 8px;
              @media (min-width: 768px) {
                  margin-top: 16px;
              }
          }
      }

      .character {
          margin-top: 16px;
          @media (min-width: 768px) {
              margin-top: 32px;
          }
        h3 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 0px;
            text-align: center;
            @media (min-width: 768px) {
                font-size: 30px;
                text-align: left;
            }
        }

        .lists {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 8px;
            @media (min-width: 768px) {
                margin-top: 16px;
            }
          li {
              font-weight: 500;
              line-height: 1;
              letter-spacing: 0px;
              display: inline-block;
              background-color: rgb(245,226,226);
              border-radius: 20px;
              padding: 4px 12px;
              @media (min-width: 768px) {
                  padding: 8px 20px;
              }
          }
        }
      }
    }
  }
}

/* ===== CanDo ===== */

.cando {
    margin-top: 48px;
    @media (min-width: 768px) {
        margin-top: 96px;
    }
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;
      @media (min-width: 768px) {
            font-size: 30px;
            text-align: left;
        }
  }

  .blocks {
      margin-top: 24px;
      @media (min-width: 768px) {
          display: flex;
          gap: 48px;
          margin-top: 48px;
      }
    .yes,
    .no {
        @media (min-width: 768px) {
            flex: 1;
        }
      h4 {
          font-size: 18px;
          border-left: 2px solid #000;
          padding-left: 4px;
          @media (min-width: 768px) {
              font-size: 23px;
              padding-left: 8px;
          }
      }

      .lists {
          margin-top: 8px;
          @media (min-width: 768px) {
              margin-top: 16px;
          }
        li {
          .button {
              font-size: 16px;
              line-height: 1.6;
              background-color: rgb(245,226,226);
              border: initial;
              width: 100%;
              text-align: left;
              position: relative;
              padding: 10px 20px 10px 10px;
              .open, .close {
                  position: absolute;
                  right: 8px;
                  bottom: 50%;
                  transform: translateY(50%);
                  width: 23px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              &[aria-expanded="false"] {
                  .close {
                      display: none;
                }
              }
              &[aria-expanded="true"] {
                  .open {
                      display: none;
                }
              }
            .open {
            }

            .close {
            }
          }

          .box {
            .description {
                line-height: 1.6;
                letter-spacing: 0px;
                padding: 8px;
            }
          }
            &+li {
                margin-top: 8px;
                @media (min-width: 768px) {
                    margin-top: 16px;
                }
            }
        }
      }
    }
      .no {
          margin-top: 24px;
          @media (min-width: 768px) {
              margin-top: initial;
          }
          .lists {
              margin-top: 8px;
              @media (min-width: 768px) {
                  margin-top: 16px;
              }
              li {
                  font-size: 16px;
                  line-height: 1.6;
                  background-color: rgb(245,226,226);
                  border: initial;
                  width: 100%;
                  text-align: left;
                  position: relative;
                  padding: 10px 20px 10px 10px;
              }
          }
      }
  }
}

/* ===== Results ===== */

.results {
    margin-top: 48px;
    @media (min-width: 768px) {
        margin-top: 96px;
    }
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;
      @media (min-width: 768px) {
        font-size: 30px;
    }
  }

  .results-slider {
      margin-top: 8px;
      @media (min-width: 768px) {
          margin-top: 16px;
      }
    .swiper-wrapper {
      .swiper-slide {
        img {
            width: 100%;
        }
      }
    }

    .swiper-pagination {
    }
      
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
    }

    .swiper-button-next {
    }
  }
}

/* ===== Private ===== */

.private {
    margin-top: 48px;
    @media (min-width: 768px) {
        margin-top: 96px;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0px;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 30px;
        }
    }
  .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      margin-top: 8px;
      @media (min-width: 768px) {
          grid-template-columns: repeat(5, 1fr);
          margin-top: 16px;
      }
    .item {
      a {
        img {
            aspect-ratio: 360 / 270;
            object-fit: cover;
        }
      }
    }
  }
}